@model za.co.chowned.TemplateResources.Models.ViewModel

@using RazorLight
@inherits TemplatePage<za.co.chowned.TemplateResources.Models.ViewModel>

<html>
<head>

</head>
<body>
    <p>Hello, @Model.Name. Welcome to RazorLight repository</p>
    <p>@Model.Localizer["Welcome"]</p>
</body>
</html>
